<h1> Express App : {{title}}</h1>
<ul>
    <li>name :.......................... {{data.name}}</li><br/>
    <li>durée de la formation :......... {{data.duree}}</li><br/>
    <li>Description :................... {{data.resume}}</li><br/>
    <li>Prix :.......................... {{data.prix}}</li><br/>
    <li>Formateur :..................... {{data.formateur}}</li><br/>
</ul>
